<ng-container *ngIf="ready">
    <app-breadcrumb [lPath]="lPath"></app-breadcrumb>
    <div class="page-content">
        <mat-card>
            <mat-card-content>
                <mat-card-title style="margin-top: 5px;">
                    {{ title }}
                </mat-card-title>
                <form role="form" [formGroup]="annuityForm" (ngSubmit)="onSubmit()">
                    <div flex fxLayout="row">
                        <div fxFlex="80">
                            <div class="text-center">
                                <mat-form-field appearance="standard">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput type="text" formControlName="name">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxFlex="20">
                            <mat-slide-toggle style="margin-top: 39px; margin-left: 40px;" formControlName="active"
                                labelPosition="before">¿Activa?
                            </mat-slide-toggle>
                        </div>
                    </div>
                    <br>
                    <h4>
                        Criterios de evaluación
                        <small *ngIf="!arePercentagesValid && items.controls.length > 0" style="color: red;">
                            Los pesos deben sumar 100
                        </small>
                    </h4>
                    <div formArrayName="items">
                        <ng-container *ngFor="let item of items.controls; let i = index">
                            <div flex fxLayout="row" [formGroupName]="i" style="margin-bottom: 5px;">
                                <div fxFlex="58">
                                    <div class="text-center">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Nombre</mat-label>
                                            <input matInput type="text" formControlName="name">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="2"></div>
                                <div fxFlex="28">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Peso</mat-label>
                                        <input matInput type="number" formControlName="percentage">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="2"></div>
                                <div fxFlex="10" style="margin-top: 28px;">
                                    <button mat-icon-button (click)="removeAssistant(i)" title="Remover"
                                        [disabled]="areEvItemsDisabled">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                    <button mat-icon-button *ngIf="showAddButton(i)" (click)="addNewItem(i)"
                                        title="Agregar" [disabled]="areEvItemsDisabled">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                        <div flex fxLayout="row" *ngIf="items.controls.length == 0">
                            <!-- <div fxFlex="95"></div> -->
                            <div fxFlex="100" style="padding-right: 0px;">
                                <button mat-icon-button (click)="addNewItem()" title="Agregar">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <mat-card-actions align="end">
                        <a mat-raised-button color="secondary" routerLink="/annuities">Cancelar</a>
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="!(annuityForm.valid && arePercentagesValid)">Guardar</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>