.login-register {
    background-image: url(assets/images/background/login-register.jpg);
}

.logo-icon-login {
    font-size: 60px;
    margin-right: 37px;
}

.logo-icon-text {
    font-size: 25px;
}