<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-register-box">
        <mat-card class="mat-card">
            <mat-card-content class="mat-card-content">
                <form>
                    <div class="text-center">
                        <mat-icon style="font-size: 60px; margin-right: 37px;">school</mat-icon>
                        <h4 class="m-t-0 m-b-1" style="font-size: 25px;">Thesis MG</h4>
                        <mat-form-field appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <mat-icon matSuffix>person</mat-icon>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="m-t-0">
                            <mat-label>Contraseña</mat-label>
                            <mat-icon matSuffix>lock</mat-icon>
                            <input type="password" matInput>
                        </mat-form-field>
                        <button class="btn-block btn-lg m-t-0 m-b-20 mat-raised-button mat-primary"
                            mat-raised-button>Iniciar sesión</button>
                        <div class="text-center" fxflex="100" fxflex.gt-sm="100" fxflex.gt-xs="100"
                            style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <span>¿Aún no estás registrado? <a class="text-info link"
                                    routerLink="/register">Registrate</a> </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>